body{
 background-image: url(../imges/jokes-ke0rivsupiplm8vx.jpg);
    background-repeat: no-repeat;
    background-size: cover;
/
}

h1{

    color: rgb(29, 4, 78);
}

.text{
    color: rgb(135, 7, 7);
}